*{
    margin: 0;
    padding: 0;
}
:root {
    font-family: "Open Sans", sans-serif;
    background: #F5F4F0;
    align-content: center;
}
main {
    display: flex;
    justify-content: center;
}
h1, h2, h3 {
    font-weight: bold;
    color: #1B1B1B;
}

h1 {
    font-size: 36px;
    padding-bottom: 40px;
}

h2 {
    font-size: 32px;
    margin-bottom: 8px;

}

h3 {
    padding-left: 15px;
    font-size: 28px;
}

ul {
    padding-left: 22px;
}

.subtitle {
    font-style: italic;
    height: 22px;
    text-align: center;
    padding-bottom: 40px;
}

.headline {
    font-weight: bold;
    text-transform: uppercase ;
    color: #E1624F;
}

.image-secondary {
    border-radius: 28px;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.divider {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #d9d9d9;
}

.destiny {
    margin-top: 20px;
    margin-bottom: 48px;
}

.good-for {
    margin-top: 20px;
}

.blue{
 color: #0C51A7;
 font-weight: bold;
}

.purple {
    color: #591B98;
    font-weight: bold;
}

.pink {
    color: #E5245E;
    font-weight: bold;
}

.orange {
    color: #E95E10;
    font-weight: bold;
}


#page {
    width: 1120px;
    padding: 88px 80px 100px;
    justify-content: center;
}

#image-capa {
    border-radius: 28px;
    height: 660px;
    margin-bottom: 22px;
    width: 100%;
    object-fit: cover;

}

#finding {
    margin: 64px 0 64px 0;
}

#last-msg{
text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 48px;
}
